body {
    background-color: #fff;

    .container {
        background: #fff;

        .pos-f-t {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            margin-left: -120px;

            @media (max-width: 1200px) {
                margin-left: -63px;
            }
            
            @media (max-width: 992px) {
                margin-left: -143px;
            }

            @media (max-width:550px) {
                margin-left: -35px;
            }
        }

        .tog-top {
            margin-left: 0px;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.9;
            z-index: 1;
            padding: 166px;

            @media (max-width: 550px) {
                padding: 170px;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: none;

                @media (max-width: 550px) {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 197px;
                    margin-left: 28px;
                }

                li {
                    padding: 10px;
                    color: #adadad;
                    text-align: center;
                    z-index: 1;
                    font-weight: 400;
                    font-size: 16px;

                    &:hover {
                        color: black;
                        cursor: pointer;
                        transition: 0.4;
                    }
                }
            }
        }


        nav .navbar-brand {
            color: black;
            font-weight: 500;
            font-size: 26px;
            font-family: 'Quicksand', sans-serif;

        }

        nav button {
            border: none;
            outline: none;

            span {
                font-size: 16px;
            }
        }
        .card-body{
            margin-top: -20px;
        }
        .card-body .row .col-md-6 {
            padding-right: 0px;
            padding-left: 0;

            @media (max-width: 550px) {
                padding-right: 0px;
                padding-left: 0;
            }

            img {
                width: 100%;
                height: 543px;

                @media (max-width: 768px) {
                    // height: 518px;
                }

                @media (max-width: 992px) {
                    height: 443px;
                }

                @media (max-width: 550px) {
                    // height: 516px;
                }





            }
        }

        .card-body .row .text {
            border: 2px solid #cccccc1a;
            outline: 2px solid #cccccc1a;
            outline-offset: -5px;
            height: 444px;
            margin-top: 100px;
            padding-right: 0;

            @media (max-width: 992px) {
                height: 345px;
                margin-left: 0;
            }

            @media (max-width:768px) {
                height: 419px;
                margin-top: 0px;
            }

            @media (max-width:550px) {
                margin-top: 0px;
                height: 416px;
            }




        }

        .card-body .row .col-md-6 .border-2 {
            border: none;
            margin-top: 185px;
            margin-bottom: 175px;
            margin-left: 70px;

            @media (max-width: 992px) {
                margin: 119px 0 0 0;
                text-align: center;
            }

            @media (max-width: 768px) {
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 185px 0 0 0;
                height: 200px;
            }

            @media (max-width:550px) {
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 0;
                margin-right: 0;
                height: 200px;
            }



            h3 {
                color: #3e3e3e;
                font-size: 44px;
                font-weight: 700;
                line-height: 1;
            }

            p {
                color: #999999;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 13px;
                line-height: 1;

            }
        }


        section {
            position: relative;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 94px;

            span {
                font-weight: 400;
            }

            h1 {
                font-size: 138px;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #f7f7f7;
                font-family: 'Secular One', sans-serif;

            }

            .about-text {
                display: flex;
                position: absolute;
                top: 56px;
                justify-content: center;
                align-items: center;
                text-align: center;
                left: 34%;

                @media (max-width: 1200px) {
                    left: 34.5%;
                }

                @media (max-width: 992px) {
                    left: 24%;
                }

                @media (max-width: 768px) {
                    left: 15%;
                }

                @media (max-width: 550px) {
                    left: 12.5%;
                }

                h3 {
                    font-family: 'Prompt', sans-serif;
                    font-weight: 800;
                    color: #3e3e3e;
                    padding: 0 23px 0 23px;
                    font-size: 37px;
                }

                .border-1,
                .border-2 {
                    content: '';
                    border: 2px solid #3e3e3e;
                    width: 68px;
                    margin-bottom: 10px;
                }
            }

            .about-content {
                .content-text{
                    width: 75%;
                    margin: auto;
                }

                p {
                    color: #999999;
                    padding: 1rem;
                    line-height: 1.9rem;
                }

                .btn-arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    i {
                        font-size: 13px;
                        padding-top: 4px;
                        cursor: pointer;
                    }
                }

                button {
                    background: none;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

        }


        .after-about {

            .nav-tabs {
                border-bottom: none;

                .active {
                    border: none;
                }

                .nav-link {
                    color: #919191;
                    font-size: 12px;
                    font-weight: 700;

                    @media (max-width: 992px) {
                        font-size: 13.5px;
                    }

                    @media (max-width: 767px) {
                        font-size: 13.5px;
                    }

                    @media (max-width: 550px) {
                        font-size: 12px;
                    }



                }

                .nav-item {
                    .nav-link {
                        a {
                            text-align: center;
                        }
                    }

                    &:hover {
                        .nav-link {
                            border: none;
                            color: #fff;
                            margin-right: 2px;
                            cursor: pointer;
                        }

                        border: none;
                        background: #3e3e3e;
                        transition: 0.1s;
                        border-radius: 8px;
                    }
                }

            }
        }

        .after-about .imgs {

            .row {
                @media (max-width:550px) {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            width: 100%;
            height: 100%;
            margin-top: 35px;

            .row .two-div {
                padding: 0px;
            }

            img {
                padding-top: 28px;
            }

            .first-img {
                width: 100%;
                height: 100%;
            }

            .sec-img {
                width: 100%;
                height: 100%;
            }

            .third-img {
                width: 100%;
                height: 100%;
            }

            .four-five {
                .row {
                    @media (max-width:550px) {
                        margin-left: -15px;
                        margin-right: -15px;
                    }
                }
            }

            .four-div {
                padding-left: 24px;
                padding-right: -1px;

                @media (max-width: 992px) {
                    padding-left: 30px;
                }

                @media (max-width: 767px) {
                    padding-left: 26px;
                    padding-right: 28px;
                }

                @media (max-width: 550px) {
                    padding-left: 28px;
                    padding-right: 30px;
                }


            }

            .fifth-div {
                padding-left: 14px;
                padding-right: 30px;

                @media (max-width: 767px) {
                    padding-left: 24px;
                    padding-right: 30px;
                }

                @media (max-width: 550px) {
                    padding-left: 28px;
                    padding-right: 32px;
                }

            }

            .forth-img {
                width: 100%;
            }
        }


        .before-footer {
            width: 100%;
            margin-top: 130px;
            margin-bottom: 90px;

            .col-md-3 {
                margin-top: 10px;
                // @media (max-width: 550px) {
                //     margin-top: 10px;
                // }
            }

            .row {
                margin-left: -20px;
                margin-right: -14px;
                margin-bottom: 20px;

                @media (max-width: 550px) {
                    margin-left: 0px;
                    margin-right: 0px;
                }

            }

            img {
                width: 100%;
            }


            .first,
            .sec,
            .third,
            .forth {
                padding-right: 12px;

                @media (max-width:550px) {
                    padding-right: 6px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: 100%;
        background: #343434;

        @media (max-width: 992px) {
            height: 100%;
        }

        @media (max-width: 550px) {
            height: 100%;
        }


        .up-footer {
            height: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            border-bottom: 1px solid #ffffff1c;
            padding-top: 52px;
            padding-bottom: 52px;

            .icon-div {
                i {
                    padding: 0 10px 0 10px;
                    cursor: pointer;
                }
            }
        }

        .down-footer {
            display: flex;
            justify-content: space-between;
            align-content: center;
            color: #fff;
            padding-top: 54px;
            padding-bottom: 52px;

            @media (max-width: 550px) {
                display: flex;
                flex-direction: column-reverse;
            }

            p {
                margin-top: 0;
                margin-bottom: 0;
                
            }

            .copyright p {
                font-size: 10px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                padding-right: 135px;
                color: #dfdfdf;
                font-weight: 600;

                @media (max-width: 992px) {
                    padding-right: 0px;
                }

                @media (max-width: 767px) {
                    padding-right: 0px;
                }

            }

            .contact {
                display: flex;

                .phone {
                    display: flex;
                    font-size: 10px;
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                    font-weight: 600;
                    color: #dfdfdf;
                    padding-left: 240px;

                    @media (max-width: 992px) {
                        padding-left: 0px;
                    }

                    @media (max-width: 767px) {
                        padding-left: 0px;
                    }


                    @media (max-width: 550px) {
                        display: flex;
                        padding-left: 78px;
                        padding-bottom: 30px;
                    }



                    .call-a {
                        color: #9b9a9a;
                        font-weight: 600;
                    }

                    .number-a {
                        color: #dfdfdf;
                        font-weight: 600;
                        font-size: 10px;
                        @media (max-width: 550px) {
                            margin: 0s;
                        }
                    }
                }

                .email {
                    display: flex;
                    font-size: 12px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;

                    .email-a {
                        color: #9b9a9a;
                        font-weight: 600;
                        font-family: 'Montserrat', sans-serif;

                    }
                    .email-b{
                        color: #dfdfdf;
                        font-weight: 600;
                        font-size: 10.5px;
                        padding-top: 1px;
                    }
                }
            }
        }
    }
}