body {
    background-color: #fff;
    // .nav-page{
    //     width: 100%;
    //     min-height: 100%;
    //     background: #ccc;
    //     position: absolute;

    //     .items{
    //         // margin: 150px auto 150px auto;
    //         ul{
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             list-style-type: none;
    //             padding: 160px;

    //             li{
    //                 margin: 10px;
    //                 padding: 10px;
    //                 color: #fff;
    //                 text-align: center;
    //                 z-index: 1;
    //                 font-weight: 400;
    //                 font-size: 16px;
    //                 &:hover{
    //                     color: black;
    //                     cursor: pointer;
    //                     transition: 0.4;
    //                 }
    //             }
    //         }
    //     }
    // }

    .container {
        background: #fff;

        .pos-f-t {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            margin-left: -120px;

            @media (max-width:500px) {
                margin-left: -35px;
            }
        }

        .tog-top {
            margin-left: 0px;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.9;
            z-index: 1;
            padding: 166px;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: none;
                // padding: 158px;

                @media (max-width: 500px) {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 537px;
                    margin-left: 28px;
                }

                li {
                    // margin: 10px;
                    padding: 10px;
                    color: #adadad;
                    text-align: center;
                    z-index: 1;
                    font-weight: 400;
                    font-size: 16px;

                    &:hover {
                        color: black;
                        cursor: pointer;
                        transition: 0.4;
                    }
                }
            }
        }


        nav .navbar-brand {
            color: black;
            font-weight: 400;
            font-size: 24px;
            font-family: 'Secular One', sans-serif;

        }

        nav button {
            border: none;
            outline: none;

            span {
                font-size: 16px;
            }
        }

        .card-body .row .col-md-6 {
            padding-right: 0px;

            img {
                width: 100%;
                height: 600px;

                @media (max-width: 500px) {
                    height: 516px;
                }

                @media (max-width: 992px) {
                    height: 500px;
                }
                @media (max-width: 768px) {
                    height: 518px;
                }

            }
        }

        .card-body .row .text {
            border: 1px solid #cccccc3d;
            outline: 1px solid #cccccc3d;
            outline-offset: -5px;
            height: 500px;
            margin-top: 100px;
            padding-right: 0;

            @media (max-width:500px) {
                margin-top: 62px;
                height: 416px;
            }

            @media (max-width:768px) {
                // margin-top: 62px;
                height: 419px;
            }

            @media (max-width: 992px) {
                height: 402px;
            }
        }

        .row .col-md-6 .card {
            border: none;
            margin-top: 100px;

            @media (max-width:500px) {
                justify-content: center;
                align-items: center;
                height: 200px;
            }

            @media (max-width: 768px) {
                justify-content: center;
                align-items: center;
                height: 200px;
            }

            h3 {
                font-weight: 800;
                // color: #1c1010ad;
                color: #212529;
            }

            p {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400;
                color: #9b9999;
            }
        }

        // section 

        section {
            position: relative;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 50px;

            h1 {
                font-size: 110px;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #f1f1f1;
                font-family: 'Secular One', sans-serif;

            }

            .about-text {
                position: absolute;
                top: 45px;
                justify-content: center;
                align-items: center;
                text-align: center;
                left: 43%;

                @media (max-width: 500px) {
                    left: 30%;
                }

                @media (max-width: 768px) {
                    left: 33%;
                }

                @media (max-width: 992px) {
                    left: 38%;
                }

                @media (max-width: 1200px) {
                    left: 42.5%;
                }

                

                h3 {
                    font-family: 'Secular One', sans-serif;
                    font-weight: 700;
                }
            }

            .about-content {
                margin-top: 20px;
                padding: 26px;

                p {
                    color: #b7b7b7;
                    padding: 1rem;
                }

                .btn-arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    i {
                        padding-top: 19px;
                        cursor: pointer;
                    }
                }

                button {
                    margin-top: 16px;
                    background: none;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                    // &:hover{
                    //     background:black;
                    //     color: #fff;    
                    //     transition: 0.3s;
                    // }
                }
            }

        }

        //after-navbar

        .after-about .nav-item {
            // padding-right: 30px;
            padding: 10px 10px 10px 10px;
            margin-left: 20px;
            font-size: 14px;
            border-radius: 8px;
            font-weight: 700;

            &:hover {
                background: black;
                color: #fff;
                transition: 0.3s;
            }
        }

        .after-about .imgs {
            // display: grid;
            margin-top: 30px;
            width: 100%;

            // grid-template-columns: repeat(2, 50%);
            // grid-template-rows: 100px;
            // grid-gap: 20px;
            .row .two-div {
                padding: 0px;
            }

            img {
                padding: 10px;
            }

            .first-img {
                width: 100%;
            }

            .sec-img {
                width: 100%;
            }

            .third-img {
                width: 100%;
            }

            .forth-img {
                width: 100%;
            }
        }

        // .after-about .first-img img{
        //     width: 100%;
        //     padding-bottom: 25px;
        // }
        // .after-about .sec-img img{
        //     // width: 50%;
        // }

        .before-footer {
            display: flex;
            width: 100%;
            margin-bottom: 20px;

            // @media (max-width:500px) {
            //     margin-bottom: 20px;
            // }

            // @media (max-width: 768px) {
            //     margin-bottom: 20px;
            // }

            // @media (max-width: 992px) {
            //     margin-bottom: 20px;
            // }

            .first,
            .sec,
            .third,
            .forth {
                padding-right: 12px;

                @media (max-width:500px) {
                    padding-right: 6px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        width: 100%;
        // height: 290px;
        height: 100%;
        background: #343434;

        @media (max-width: 500px) {
            height: 100%;
        }

        @media (max-width: 992px) {
                height: 100%;
        }

        .up-footer {
            height: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            border-bottom: 1px solid #ffffff1c;

            .icon-div {
                padding: 40px;

                

                i {
                    padding: 0 10px 0 10px;
                    cursor: pointer;
                }
            }
        }

        .down-footer {
            display: flex;
            justify-content: space-between;
            color: #fff;

            .copyright p {
                font-size: 12px;
                text-align: center;
                padding-top: 68px;
                font-family: 'Montserrat', sans-serif;

            }

            .contact {
                display: flex;

                .phone {
                    display: flex;
                    font-size: 12px;
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                    padding-top: 68px;

                    @media (max-screen: 500px) {
                        display: inline;
                        padding-right: 30px;
                    }

                    .call-a {
                        color: #9b9a9a;
                        font-weight: 500;
                    }

                    .number-a {
                        @media (max-screen: 500px) {
                            margin: 0s;
                        }
                    }
                }

                .email {
                    display: flex;
                    font-size: 12px;
                    text-align: center;
                    padding-top: 68px;
                    font-family: 'Montserrat', sans-serif;

                    .email-a {
                        color: #9b9a9a;
                        font-weight: 500;
                        font-family: 'Montserrat', sans-serif;

                    }
                }
            }
        }
    }
}