body {
    background-color: #fff;

    .container {
        background: #fff;

        .pos-f-t {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            margin-left: -120px;

            @media (max-width:500px) {
                margin-left: -35px;
            }
        }

        .tog-top {
            margin-left: 0px;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.9;
            z-index: 1;
            padding: 166px;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: none;

                @media (max-width: 500px) {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 537px;
                    margin-left: 28px;
                }

                li {
                    padding: 10px;
                    color: #adadad;
                    text-align: center;
                    z-index: 1;
                    font-weight: 400;
                    font-size: 16px;

                    &:hover {
                        color: black;
                        cursor: pointer;
                        transition: 0.4;
                    }
                }
            }
        }


        nav .navbar-brand {
            color: black;
            font-weight: 400;
            font-size: 24px;
            font-family: 'Secular One', sans-serif;

        }

        nav button {
            border: none;
            outline: none;

            span {
                font-size: 16px;
            }
        }

        .card-body .row .col-md-6 {
            padding-right: 0px;

            img {
                width: 100%;
                height: 600px;

                @media (max-width: 500px) {
                    height: 516px;
                }

                @media (max-width: 992px) {
                    height: 500px;
                }

                @media (max-width: 768px) {
                    height: 518px;
                }

            }
        }

        .card-body .row .text {
            border: 1px solid #cccccc3d;
            outline: 1px solid #cccccc3d;
            outline-offset: -5px;
            height: 500px;
            margin-top: 100px;
            padding-right: 0;

            @media (max-width:500px) {
                margin-top: 62px;
                height: 416px;
            }

            @media (max-width:768px) {
                height: 419px;
            }

            @media (max-width: 992px) {
                height: 402px;
            }
        }

        .row .col-md-6 .card {
            border: none;
            margin-top: 100px;

            @media (max-width:500px) {
                justify-content: center;
                align-items: center;
                height: 200px;
            }

            @media (max-width: 768px) {
                justify-content: center;
                align-items: center;
                height: 200px;
            }

            h3 {
                font-weight: 800;
                color: #3e3e3ef0;
                font-size: 35px;
                padding-left: 38px;
            }

            p {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                color: #9b9999;
                padding-left: 38px;
            }
        }


        section {
            position: relative;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 50px;

            span {
                font-weight: 400;
            }

            h1 {
                font-size: 138px;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #f7f7f7;
                font-family: 'Secular One', sans-serif;

            }

            .about-text {
                display: flex;
                position: absolute;
                top: 56px;
                justify-content: center;
                align-items: center;
                text-align: center;
                left: 34%;

                @media (max-width: 500px) {
                    left: 30%;
                }

                @media (max-width: 768px) {
                    left: 33%;
                }

                @media (max-width: 992px) {
                    left: 38%;
                }

                @media (max-width: 1200px) {
                    left: 42.5%;
                }



                h3 {
                    font-family: 'Secular One', sans-serif;
                    font-weight: 700;
                    color: #3e3e3e;
                    padding: 0 23px 0 23px;
                    font-size: 37px;
                }
                .border-1,.border-2{
                    content: '';
                    // height: 5;
                    border: 2px solid black;
                    width: 68px;
                    margin-bottom: 10px;
                }
            }

            .about-content {
                margin-top: 20px;
                padding: 26px;

                p {
                    color: #999999;
                    padding: 1rem;
                    line-height: 1.9rem;
                }

                .btn-arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    i {
                        padding-top: 19px;
                        cursor: pointer;
                    }
                }

                button {
                    margin-top: 16px;
                    background: none;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

        }


        .after-about {

            .nav-tabs {
                border-bottom: none;

                .active {
                    border: none;
                }

                .nav-link {
                    color: #999999;
                    font-size: 15px;
                    font-weight: 500;


                }

                .nav-item {
                    .nav-link {
                        a {
                            text-align: center;
                        }
                    }

                    &:hover {
                        .nav-link{
                            border: none;
                            color: #fff;
                            margin-right: 2px;
                        }
                        border: none;
                        background: #3e3e3e;
                        transition: 0.1s;
                        border-radius: 8px;
                    }
                }

            }
        }

        .after-about .imgs {
            width: 100%;

            .row .two-div {
                padding: 0px;
            }

            img {
                padding-top: 28px;
            }

            .first-img {
                width: 100%;
            }

            .sec-img {
                width: 100%;
            }

            .third-img {
                width: 100%;
            }

            .four-div {
                padding-left: 24px;
                padding-right: -1px;
            }

            .fifth-div {
                padding-left: 14px;
                padding-right: 30px;
            }

            .forth-img {
                width: 100%;
            }
        }


        .before-footer {
            width: 100%;

            .row {
                margin-left: -20px;
                margin-right: -14px;
                margin-bottom: 20px;
            }

            img {
                width: 100%;
            }

            // margin-bottom: 20px;

            // @media (max-width:500px) {
            //     margin-bottom: 20px;
            // }

            // @media (max-width: 768px) {
            //     margin-bottom: 20px;
            // }

            // @media (max-width: 992px) {
            //     margin-bottom: 20px;
            // }

            .first,
            .sec,
            .third,
            .forth {
                padding-right: 12px;

                @media (max-width:500px) {
                    padding-right: 6px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: 100%;
        background: #343434;

        @media (max-width: 500px) {
            height: 100%;
        }

        @media (max-width: 992px) {
            height: 100%;
        }

        .up-footer {
            height: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            border-bottom: 1px solid #ffffff1c;
            padding-top: 52px;
            padding-bottom: 52px;

            .icon-div {
                i {
                    padding: 0 10px 0 10px;
                    cursor: pointer;
                }
            }
        }

        .down-footer {
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding-top: 52px;
            padding-bottom: 52px;

            p {
                margin-top: 0;
                margin-bottom: 0;
            }

            .copyright p {
                font-size: 12px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;

            }

            .contact {
                display: flex;

                .phone {
                    display: flex;
                    font-size: 12px;
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;

                    @media (max-screen: 500px) {
                        display: inline;
                        padding-right: 30px;
                    }

                    .call-a {
                        color: #9b9a9a;
                        font-weight: 500;
                    }

                    .number-a {
                        @media (max-screen: 500px) {
                            margin: 0s;
                        }
                    }
                }

                .email {
                    display: flex;
                    font-size: 12px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;

                    .email-a {
                        color: #9b9a9a;
                        font-weight: 500;
                        font-family: 'Montserrat', sans-serif;

                    }
                }
            }
        }
    }
}